.site-footer{
    
    text-align: center;
    font-size: 14px;
    color: #999;
    padding-bottom: 90px;
    
    .inner{
        padding-top: 20px;
        display: inline-block;
        border-top: 2px solid #dfdfdf;
        
    }
    
}