@charset "utf-8";

// FONT
//$base-font: 'Muli', sans-serif;
$base-font: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
$base-font-weight: 400;
$base-font-weight-2: 600;
$base-font-weight-3: 700;
$text-margin:.7em;

$base-font-size: 15px;
$base-font-size-480: 15px;
$base-font-size-640: 16px;
$base-font-size-960: 16px;
$base-line-height:1.5;


// Højde bredde basic
$base-margin:20px;
$page-width-max:1080px;
$read-width-max:680px;
$read-width-max-small:640px;



// Farver
$color-black: #333333;
$color-black-2: #000000;
$color-black-3: #454545;

$color-light: #fcfcfc;
$color-light-2: #f2f3f4;
$color-light-3: #e5e5e5;
$color-white: #ffffff;

$accent-color-red: #ea492e;
$accent-color-yellow: #c5cb35;
$accent-color-green: #58b47b;
$accent-color-blue: #3E86B3;


// Anchors

$anchor-hover-color:$accent-color-blue;
$anchor-current-color:$anchor-hover-color;


// Skygge

$base-shadow: 1px 1px 2px 0px rgba($color-black,.2) ;
