<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="inner">
        {% include hero.html %}
        
        <article>
            <!-- section 1 -->
            <section>
                <div class="section-icon hide">
                    {% include svg/island.svg %}
                </div>
                <div class="split section-image" data-bg="{{ "/assets/img/pepper-fresh.jpg" | prepend: site.baseurl }}"></div>
                <div class="split">
                    <div class="inner text-inner">
                        <p>{{page.section_1}}</p>
                    </div>
                </div>
            </section>
            <!-- section 2 -->
            <section class="section-centered-text">
                <div class="centered-text">
                    <p>{{page.section_2}}</p>
                </div>
                <div class="split section-image" data-bg="{{ "/assets/img/pepper-black-large.jpg" | prepend: site.baseurl }}"></div>
                <div class="split section-image" data-bg="{{ "/assets/img/pepperplantage.jpg" | prepend: site.baseurl }}"></div>
            </section>
             <!-- section 3 -->
            <section>
                <div class="section-icon special hide">
                    {% include svg/sustainable.svg %}
                </div>
                <div class="split">
                    <div class="inner text-inner">
                        <p>{{page.section_3}}</p>
                    </div>
                </div>
                <div class="split section-image" data-bg="{{ "/assets/img/farmer.jpg" | prepend: site.baseurl }}"></div>
            </section>
            <!-- section 4 -->
            <section class="section-big-text">
               <div class="relative-icon">
                    <div class="section-icon hide">
                        {% include svg/government.svg %}
                    </div>
               </div>
                
                <div class="text-inner">
                    <p>{{page.section_4}}</p>
                </div>
            </section>
             <!-- section 5 -->
            <section id="shops">
                <div class="section-icon hide">
                    {% include svg/shipping.svg %}
                </div>
                <div class="split section-image" data-bg="{{ "/assets/img/pakke.jpg" | prepend: site.baseurl }}">
                </div>
                <div class="split">
                    <div class="inner text-inner">
                        <p>{{ content }}</p>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <section class="end-section">
                <a target="_blank" href="http://facebook.com/gourmetpepper" class="facebook-link section-icon hide">
                    {% include svg/facebook.svg %}
                </a>
            </section>
        </article>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>


